aside{

    background-color: #25d0d0;
    color: rgb(32, 70, 70);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: center;
    font-weight: bold;
    height: fit-content;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
    border: 2px solid #033232;
    transition: transform 0.3s ease;

}

.withsidebar{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 1rem;
    align-items: flex-start;
    justify-content: center;
    
}




.sidebar{
    flex-basis: 16rem;
    flex-grow: 1;
    min-inline-size: 16rem;
    max-inline-size: 20rem;
    order: -1;
    align-self: flex-start;
    height: fit-content;
    transition: transform 0.3s ease;

    
}


.notsidebar{
    flex-basis: 0;
    flex: grow 999;
    min-inline-size: 50%;
    max-inline-size: 40rem;
    border: 2px solid #073636;
    align-self: flex-start;
    height: fit-content;
    transition: transform 0.3s ease;

}

article {
    border: 2px solid #033232;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #e0f7f7;
    transition: transform 0.3s ease;
    margin-bottom: 1rem;


}

.wrapper{
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

header {
    background-color: #1b8c8c;
    color: #033232;
    padding: 0,5rem 0;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid #033232;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 1.4;
    transition: transform 0.3s ease;

}

body{
    background-color: rgb(146, 240, 240);
    color: rgb(32, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: transform 0.3s ease;

}

h1, h2, h3{
    color: #033232;
    margin-top: 0;
    transition: transform 0.3s ease;

}




