aside{


    background-color: #27cdcd;
    color: rgb(32, 70, 70);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: center;
    font-weight: bold;
    height: 100%;
    overflow: hidden;
    position: static;
    left:30px;
    border: 3px solid #033232;
    transition: transform 0.3s ease;

}



.withsidebar{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 1rem;
    
    
}




.sidebar{
    flex-basis: 16rem;
    flex-grow: 1;
    min-inline-size: 16rem;
    max-inline-size: 18rem;
    transition: transform 0.3s ease;

    
}


.nonsidebar{ 

    margin-bottom: 1rem;
    flex-basis: calc(100% - 18rem - 1rem);
    transition: transform 0.3s ease;
}

article {
    min-inline-size: 20rem;
    max-inline-size: 35rem;
    margin-left: 21rem;
    border: 2px solid #033232;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #e0f7f7;
    transition: transform 0.3s ease;
    margin-bottom: 1rem;
    


}

.wrapper{
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
    box-sizing: border-box;
    
}

header {
    background-color: #1b8c8c;
    color: #033232;
    padding: 0,5rem 0;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid #033232;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 1.4;
    transition: transform 0.3s ease;

}



body{

    background-color: rgb(146, 240, 240);
    color: rgb(32, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 50px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    overflow: auto;
    flex-basis: 50rem;

}





h1{

    font-size: 2rem;
    margin-bottom: 0.5rem
    text-underline-offset: 0.3rem;
    text-decoration: underline;
    text-underline color: rgb(3, 50, 50);
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px;

   
   

}

h2{
    color: #033232;
    margin-top: 0;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.3s ease;
    text-underline-offset: 0.3rem;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 1px 1px 2px;

}

h3{
    color: #033232;
    margin-top: 0;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.3s ease;
    text-underline-offset: 0.3rem;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 1px 1px 2px; 

}


article p{
    margin-top: -10px 0 0 0;
    margin-top: 0.5rem;
}




